@charset "utf-8";


/* ===== VARIABLES AND FONTS ===== */
:root {
    /* colours */
    --black: #161616;
    --darker-grey: #4E4E4E;
    --dark-grey: #cfcfcf;
    --grey: #E0E0E0;
    --light_grey: #F6F6F6;
    --purple: #8300C9;
}

@font-face {
    font-family: "roboto medium";
    src: url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "roboto regular";
    src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "21 display condensed";
    src: url("../assets/fonts/21Display-Condensed.otf") format("truetype");
}


/* ===== GENERAL STYLES ===== */
html {
    display: block;
    position: relative;
    width: 100%;
    background-color: var(--light_grey);
    padding: 2%;
    margin: 0;
}

body {
    margin: 0; 
}


/* ===== HEADER AND NAVIGATION ===== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 96%;
    z-index: 20;
}



header > a:first-of-type img {
  width: 12vw;
}



nav {
    display: flex;
    width: auto;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
}


a {
    text-decoration: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 15px;
  background-color: var(--grey);
  gap: 0.5vw;
  border-radius: 100vh; 
}

.button:hover {
  background-color: var(--dark-grey);
}

.button img {
 width: 1vw;
    height: auto;
}



/* ===== MAIN CONTENT AND FOOTER ===== */
main, footer {
    display: block;
    width: 96%;
    padding-top: 5%;
}

h1 {
    color: var(--black);
    font-family: "21 display condensed";
    font-size: 10vw;
    margin: 0;
}

h2 {
    color: var(--black);
    font-family: "roboto medium";
    font-size: 1.25vw;
    margin: 0;
}

h3 {
    color: var(--black);
    font-family: "roboto regular";
    font-size: 1.25vw;
    margin: 0;
}

h4 {
    color: var(--black);
    font-family: "roboto medium";
    font-size: 1vw;
    margin: 0;
}


#bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 2%;
}

#search_bar {
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.selected {
  background-color: var(--purple);
}

.selected h4 {
  color: var(--light_grey);
}

.selected img {
    color: var(--light_grey);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1vw;
}

.grid_information {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
}

.grid_view article {
    grid-column: 1/2;
    border: 2px solid var(--black); 
    border-radius: 5vh; 
}

.grid_view article h1 {
    width: 100%;
    text-align: center;
}